node_modules
.svelte-kit
dist
coverage
build
playwright-report
test-results
pnpm-lock.yaml
.git
*.svg
*.txt
CODEOWNERS
Dockerfile
Dockerfile.*
.env*
.prettierignore
*.toml
.gitleaksignore
.gitignore
*.woff2
*.patch
*.png
**/paraglide/**
**/project.inlang/**
*.sh
