node_modules
.svelte-kit
dist
coverage
build
playwright-report
test-results
.coverage-prev-summary.json
pnpm-lock.yaml
.git
*.svg
*.txt
CODEOWNERS
LICENSE
.trivyignore
Dockerfile
Dockerfile.*
.env*
.prettierignore
*.toml
.gitleaksignore
.gitignore
.gitkeep
*.woff2
*.patch
*.png
**/paraglide/**
**/project.inlang/**
*.sh
CNAME
